
.vs/Plugin/v16/.suo
Plugin/Plugin.csproj
Plugin/bin/Release/System.Numerics.Vectors.dll
Plugin/bin/Release/System.Numerics.Vectors.xml
Plugin/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
Plugin/bin/Release/OpenBveApi.dll
Plugin/bin/Release/CSScriptLibrary.xml
Plugin/bin/Release/CSScriptLibrary.dll
Plugin/bin/Release/OpenBveApi.dll.config
Plugin/bin/Release/OpenBveApi.xml
Plugin/bin/Release/SharpCompress.dll
Plugin/bin/Release/System.Buffers.dll
Plugin/bin/Release/System.Memory.dll
Plugin/bin/Release/System.Buffers.xml
Plugin/bin/Release/System.ValueTuple.dll
Plugin/bin/Release/System.Memory.xml
Plugin/bin/Release/Ude.NetStandard.dll
Plugin/bin/Release/System.ValueTuple.xml
Plugin/bin/Release/HK_ATS.dll
.vs/Plugin/v16/.suo
.vs/Plugin/v16/.suo
Plugin/bin/Release/HK_ATS.dll
*.cache
*.CopyComplete
*.cache
*.cache
Plugin/obj/Release/Plugin.csproj.FileListAbsolute.txt
